html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    width: 375px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c6c6c6;
    width: 375px;
    padding-bottom: 10px;
}

main {
    display: flex;
    justify-content: start;
    margin: 10px auto;
}

.container, footer {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100px;
}

.knight {
    padding-right: 10px;
}

.avatar, .knight {
    width: 32px;
}

.avatar {
    border-radius: 100%;
}

.icons {
    display: flex;
    width: 22px;
}

.icon {
    padding-right: 10px;
}

img {
    width: 100%;
}

.post,
.icons, 
.likes {
    margin-bottom: 10px;
}
  
.name, 
.comment,
.likes {
    font-weight: bold;
}

span,
.icons,
.avatar,
.logo {
    padding-left: 10px;
}

